.skills {
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;

  grid-gap: 100px;
}

img {
  height: 200px;
  width: 200px;
}

.skill {
  border: 2px solid #6f1d1b;
  padding: 10px;
}
